* {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(27, 27, 27);
  --color: white;
  --border-width: 0;
}

body {
  font-family: Barlow, Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: var(--color);
  background-color: var(--background-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
}

.header {
  margin: 3rem;
}

.theme-switch {
  background-color: rgb(27, 27, 27);
  color: white;
  text-align: center;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  border: 2px solid gray;
  border-bottom-right-radius: 0.5em;
  border-top: none;
  border-left: none;
}

.theme-switch-title {
  text-align: center;
  font-weight: bold;
  display: block;
  margin-top: -0.3em;
  margin-bottom: 0.3em;
}

.toggle-theme-checkbox {
  position: absolute;
  opacity: 0;
  left: -9999px;
}

.toggle-theme-checkbox ~ label {
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.light-label {
  color: var(--color);
}

.dark-label {
  margin-left: 10px;
}

.slider {
  width: 2.5em;
  height: 1.25em;
  position: absolute;
  background-color: white;
  top: 41px;
  left: 20px;
  z-index: 0;
  border: 1px solid white;
  cursor: pointer;
  transition-property: transform, border-color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  border-radius: 0.3em;
}

.toggle-theme-checkbox:checked ~ .slider {
  transform: translateX(111%);
  background-color: rgb(27, 27, 27);
}

.title {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
}

.paragraphs {
  max-width: 700px;
  font-size: 1.25em;
  text-align: center;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 450px));
  justify-content: center;
  margin-top: -1rem;
  align-items: start;
  gap: 10px;
}

.card {
  --border-radius: 1.5em;
  box-shadow: 0 17px 40px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  cursor: pointer;
  background-color: black;
  color: white;
  transition-property: transform, opacity, color, background-color;
  border: var(--border-width) solid gray;
  border-radius: var(--border-radius);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  margin: 1rem;
  animation: fly-in 400ms ease-in-out backwards;
}

.card:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.divider {
  grid-column: 1 / -1;
  padding: 1rem;
}

.divider-heading {
  font-size: 2.5rem;
}

.divider .divider-paragraph {
  font-size: 1.25rem;
}

.bottom-border {
  display: block;
  margin-top: 2rem;
  height: 3px;
  width: 100%;
  background-color: #999;
  transform: scaleX(0);
  transform-origin: left;
  animation: expand-border 1s forwards;
}

@keyframes expand-border {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 5px;
  background: #555;
  border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.container {
  padding: 20px 25px;
}

.container p {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5em;
}

.card-img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

@keyframes fly-in {
  from {
    transform: translateY(10%);
    opacity: 0.7;
  }
}

@media (max-width: 700px) {
  .title {
    margin-top: 30px;
  }

  .theme-switch {
    font-size: 1em;
  }

  .slider {
    top: 29px;
    left: 14px;
  }

  .toggle-theme-checkbox:checked ~ .slider {
    transform: translateX(117%);
  }
}
