body {
  font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  transition-property: background-color;
  transition-duration: 100ms;
}

.btn {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 2rem 3rem;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 5rem;
  font-size: 3rem;
  font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: crimson;
}

.myH1 {
  position: absolute;
  left: 50%;
  font-size: 2.5rem;
  transform: translate(-50%);
  top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}

.colors {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.color:first-child {
  margin-right: 10rem;
}

.copy {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.75rem;
  font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
}

.color-type {
  font-size: 1.75rem;
}

.color-value {
  font-size: 3rem;
}

.copy:hover {
  background-color: crimson;
  color: blanchedalmond;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

button {
  cursor: pointer;
}
