body {
    font-family: 'Barlow', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.btn {
    background-color: rgb(50,50,50);
    color: white;
    padding: 15px 32px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: large;
    margin: 0 auto;
    font-family: 'Barlow', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: crimson;
}

.copy {
    background-color: rgb(50,50,50);
    color: white;
    padding: 5px 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: small;
    margin: 0 auto;
    font-family: 'Barlow', Tahoma, Geneva, Verdana, sans-serif;
}

.copy:hover {
    background-color: crimson;
    color: blanchedalmond;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }