body {
  font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

.title {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 2.5rem;
  transform: translate(-50%);
}

.myDiv {
  display: flex;
  align-items: center;
  margin-top: 50%;
  flex-direction: column;
}

.btn {
  background-color: rgb(59, 59, 59);
  color: white;
  padding: 1rem 1.5rem;
  margin-bottom: 20px;
  border: none;
  outline: none;
  font-size: 2.5rem;
  font-family: "Barlow", Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: crimson;
}

button {
  cursor: pointer;
}
